body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Скрывает прокрутку, если она не нужна */
}

.background {
    background-image: url('https://i.imgur.com/koMGRK6.jpeg');
    background-size: cover;
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative; /* Для позиционирования иконок */
}

.button {
    position: absolute;
    width: 60%; /* Используем относительную ширину */
    max-width: 230px; /* Максимальная ширина для больших экранов */
    height: 10%; /* Используем относительную высоту */
    max-height: 80px; /* Максимальная высота для больших экранов */
    background: rgba(74, 74, 74, 0.2);
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: flex; /* Для центрирования текста */
    align-items: center; /* Вертикальное центрирование */
    justify-content: center; /* Горизонтальное центрирование */
    color: white; /* Цвет текста по умолчанию */
    font-size: 5vw; /* Размер текста в зависимости от ширины экрана */
    font-family: 'LibreBaskerville-Bold';
    transition: background 0.5s ease, border-color 0.3s ease; /* Плавный переход для фона и границы */
}

.button:hover {
    background: linear-gradient(45deg, #d55700, #321500); /* Градиент при наведении */
    border-color: white; /* Изменение цвета границы на белый при наведении */
}

/* Позиционирование кнопок */
.button1 {
    top: 80%;
    left: 50%;
    transform: translateX(-50%); /* Центрируем кнопку по горизонтали */
}

.button3 {
    top: 90%;
    left: 30%;
}

.button4 {
    top: 90%;
    left: 70%;
}

img {
    position: absolute; /* Устанавливаем абсолютное позиционирование для логотипа */
    top: 5%; /* Отступ сверху */
    left: 5%; /* Отступ слева */
    width: 20%; /* Ширина логотипа в процентах */
    max-width: 632px; /* Максимальная ширина логотипа */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}

/* Медиа-запросы для планшетов */
@media (min-width: 600px) {
    .button {
        font-size: 4vw; /* Уменьшаем размер текста для планшетов */
    }
}

/* Медиа-запросы для десктопов */
@media (min-width: 900px) {
    .button {
        font-size: 3vw; /* Уменьшаем размер текста для десктопов */
    }
}

/* Медиа-запросы для больших экранов */
@media (min-width: 1200px) {
    .button {
        font-size: 2vw; /* Уменьшаем размер текста для больших экранов */
    }
}
